<app-header></app-header>
<main style="min-height: 90vh; background-color: #f6f6fa" class="container">
  <h2 class="text-center m-5 text-danger">TESTING PAGE</h2>

  <form>
    <div class="row pt-3">
      <div class="col--3 mb-3">
        <label for="formfile" class="form-label">Choose File</label>
        <input
          type="file"
          id="formFile"
          (change)="uploadImage($event)"
          [(ngModel)]="inputData"
          [ngModelOptions]="{ standalone: true }"
        />
      </div>
    </div>
  </form>
</main>
<app-footer></app-footer>
