/* .container-fluid {
  width: 80%;
} */
#navbar-logo {
  width: 7rem;
}
.form-control {
  width: 35vw;
}
.custom-btn {
  transition: background-color 0.3s, color 0.3s;
  background-color: #ffc107;
}

.custom-btn:hover {
  background-color: black;
  color: white;
}

.fa-cart-shopping:hover,
.fa-heart:hover,
.login:hover,
.register:hover {
  color: #ffc107;
}

@media all and (max-width: 1200px) {
  ul {
    width: 35%;
  }
}

@media all and (min-width: 992px) {
  .container-fluid {
    width: 85%;
    margin: auto;
  }
}

@media all and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
  .search {
    width: 100%;
  }
  .searchBtn {
    width: 100%;
  }
}
@media all and (max-width: 768px) {
  .container-fluid {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  ul {
    width: 70%;
  }
  .search {
    margin: 0 auto;
  }
}
@media all and (max-width: 400px) {
  ul {
    width: 100%;
  }
  .search {
    margin: 0px;
    width: 100%;
  }
}
