/* .container-fluid {
  width: 80%;
} */
#navbar-logo {
  width: 7rem;
}

.form-control {
  width: 35vw;
}
.custom-btn {
  transition: background-color 0.3s, color 0.3s; 
  background-color: #ffc107;
}

.custom-btn:hover {
  background-color: black;
  color: white;
}



@media all and (max-width: 992px) {
  .container {
    flex-direction: column;
  }
  .search {
    width: 100%;
  }
  .searchBtn{
    width: 100%;
  }
}
