<nav class="navbar navbar-expand p-0">
  <div class="container-fluid px-0">
    <a class="navbar-brand p-0 me-5" routerLink=""
      ><img src="../../assets/images/logo.png" alt="logo" id="navbar-logo"
    /></a>
  @if(!isSearchPage){
    <div
    class="d-flex justify-content-start search"
    id="navbarSupportedContent"
  >
    <div class="col-9 me-1">
    
        <label for="searchEmail"></label>
     <div class="d-flex">
      <input
      [(ngModel)]="queryParam"
        class="form-control text-secondary searchBtn w-md-100"
        type="search"
        id="searchEmail"
        placeholder="I'm shopping for"
        aria-label="Search"
      />
      <div class="col-2">
        <button class="btn custom-btn" type="submit" (click)="goToOtherPage()">Search</button>
      </div>
     </div>
   
    </div>
  
  </div>
  }
    <ul
      class="navbar-nav mb-2 mb-lg-0 align-items-center justify-content-around col-3"
    >
      <!-- wishlist icon  -->
      <!-- cart icon and counter  -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">
          <i class="fa-solid fa-cart-shopping fa-lg"></i>
          <!-- <p class="badge bg-warning p-1 m-0">
            {{ counter$ | async }}
          </p> -->
        </a>
      </li>
      <li class="nav-item d-flex">
        @if(isUserLogin){
        <a
          class="nav-link"
          routerLink="/user-profile"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Profile
        </a>
        }
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <li><a class="dropdown-item" routerLink="help-page">Help Center</a></li> -->
          <li><a class="dropdown-item" routerLink="#">Another action</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" routerLink="#">Something else here</a>
          </li>
        </ul>
      </li>
      <li (click)="toggleDarkMood()">
        <i class="fa-regular fa-moon cursor-pointer fs-4"></i>
      </li>
      <!-- login/profile icon  -->
      <li>
        <ul class="navbar-nav">
          <li class="nav-item ps-3 align-items-center d-flex">
            <a class="nav-link">
              <i class="fa-regular fa-user fa-xl"></i>
            </a>
          </li>
          <!-- if token is for vendor display dashboard vendor and logout -->
          <!-- if token is user display account settings and logout  -->
          <!-- if token is admin display dashboard admin and logout  -->
          <li *ngIf="!isUserLogin">
            <a class="nav-link py-0 login" routerLink="/login">
              <span>Login</span>
            </a>
            <a class="nav-link py-0 register" routerLink="/register">
              <span>Register</span>
            </a>
          </li>
          <li
            class="d-flex justify-content-center align-items-center"
            *ngIf="isUserLogin"
          >
            <a class="nav-link py-0 logout" (click)="logOut()" routerLink="">
              Logout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
