<nav class="navbar navbar-expand p-3">
  <div class="container">
    <a class="navbar-brand p-0 pe-5" href="/"
      ><img src="../../assets/images/logo.jpg" alt="logo" id="navbar-logo"
    /></a>
    <div
      class="d-flex justify-content-start ms-4 search"
      id="navbarSupportedContent"
    >
      <div class="col-9 me-1">
        <form class="d-flex" role="search">
          <input
            class="form-control text-secondary searchBtn"
            type="search"
            placeholder="I'm shopping for"
            aria-label="Search"
          />
        </form>
      </div>
      <div class="col-2">
        <button class="btn custom-btn" type="submit">Search</button>
      </div>
    </div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
      <li class="nav-item ps-4">
        <a class="nav-link" href="/wishlist">wishlist</a>
      </li>
      <li class="nav-item ps-4">
        <a class="nav-link" href="/cart">cart</a>
      </li>
      <li class="nav-item ps-5">
        <a class="nav-link" href="/login">login</a>
      </li>
      <!-- <li>cart</li>
        <li>login/register and profile</li> -->
    </ul>
  </div>
</nav>
