<footer class="container-fluid">
  <!-- section one  -->
  <section class="d-flex justify-content-around pt-4 mt-5 features">
    <div class="ps-3 d-flex free-delivery">
      <img
        class="me-4"
        src="../../assets/images/deliveryHomeImage.jpg"
        alt="free delivery"
      />
      <div>
        <h5>Free Delivery</h5>
        <p class="text-secondary">For orders above $500.</p>
      </div>
    </div>

    <div class="d-flex money-return">
      <img
        class="me-4"
        src="../../assets/images/moneyReturn.jpg"
        alt="money return"
      />
      <div>
        <h5>90 Days Return</h5>
        <p class="text-secondary">If products have problems</p>
      </div>
    </div>

    <div class="pe-3 d-flex support">
      <img class="me-4" src="../../assets/images/support.jpg" alt="support" />
      <div>
        <h5>24/7 supports</h5>
        <p class="text-secondary">Dedicate support</p>
      </div>
    </div>
  </section>
  <hr />

  <!-- section two  -->
  <section
    class="d-flex justify-content-between py-5 footer-content quicklinks"
  >
    <div class="d-flex flex-column col-sm-5 col-md-3 divvv">
      <h5 class="pb-3">Quick Links</h5>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="/deals">Hot Deals</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="/category">Categories</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="/login">Login</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="/help">Help</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="/cart">My Cart</a>
      </span>
    </div>

    <div class="d-flex flex-column col-sm-5 col-md-3 divvv">
      <h5 class="pb-3">Get to know us</h5>
      <span class="my-1">
        <a class="text-decoration-none" [routerLink]="['/help']">Help</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" [routerLink]="['/vendor']"
          >Vendor Plans</a
        >
      </span>
      <span class="my-1">
        <a class="text-decoration-none" [routerLink]="['/aboutus']">About us</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" [routerLink]="['/contactus']"
          >Contact us</a
        >
      </span>
      <span class="my-1">
        <a class="text-decoration-none" [routerLink]="['/termsofuse']"
          >Terms of use</a
        >
      </span>
    </div>

    <div class="d-flex flex-column col-sm-5 col-md-3 divvv">
      <h5 class="pb-3">Information</h5>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="">New Products</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="">Top Seller</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="">Our Blog</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="">About Our Shop</a>
      </span>
      <span class="my-1">
        <a class="text-decoration-none" routerLink="">Secure Shopping</a>
      </span>
    </div>

    <div class="d-flex flex-column col-sm-5 col-md-3">
      <h5 class="pb-3">Newsletter</h5>

      <span class="my-1 text-secondary">
        Register now to get updates on promotion.
      </span>
      <form class="d-flex w-100 my-3">
        <div class="col-9">
          <input
            type="email"
            class="form-control email"
            aria-describedby="emailHelp"
            required
            autocomplete="off"
            id="newsletterEmail"
          />
          <!-- for input error  -->
          <!-- <div class="text-danger m-0 p-0">This field is required</div> -->
        </div>
        <button type="submit" class="btn btn-warning subscribe">
          Subscribe
        </button>
      </form>

      <span class="text-secondary">Follow us</span>
      <div class="d-flex justify-content-start gap-3 h-100 py-1 mt-1">
        <a href="/">
          <i class="fa-brands fa-facebook-f fa-lg"></i>
        </a>
        <a href="/">
          <i class="fa-brands fa-x-twitter fa-lg"></i>
        </a>
        <a href="/">
          <i class="fa-brands fa-square-instagram fa-lg"></i>
        </a>
        <a href="/">
          <i class="fa-brands fa-tiktok fa-lg"></i>
        </a>
        <a href="/">
          <i class="fa-brands fa-linkedin-in fa-lg"></i>
        </a>
        <a href="/">
          <i class="fa-brands fa-threads fa-lg"></i>
        </a>
      </div>
    </div>

    <!-- secion three  -->
  </section>
  <section
    class="d-flex pb-4 copyrights justify-content-between flex-column align-items-center text-center"
  >
    <!-- <div class="col-6 text-start">
      <span class="span">© Copyright 2024 created by ITI</span>
    </div> -->
    <div class="col-6 justify-content-between">
      <span class="text-secondary px-4"> We accept safe payment from</span>
      <img class="payments" src="../../assets/images/payments.png" alt="" />
    </div>
    <div class="col-6 pt-3">
      <span class="span">© Copyright 2024 created by ITI</span>
    </div>
  </section>
</footer>
