<!-- <div class="card rounded-circle">
  <a href="">
    <img
      ngSrc="../../assets/images/testproduct.jpg"
      class="card-img-top rounded-circle"
      alt="..."
    />col-lg-3 p-2 col-md-4 col-sm-12 col-xl-2
  </a>
</div> -->
<main class="d-flex flex-wrap">
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a [routerLink]="['/category']" routerLinkActive="router-link-active"  class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >Smartphones</span
      >
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >Laptops</span
      >
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >Mouse</span
      >
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >Keyboard</span
      >
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >Mouse Pad</span
      >
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >HeadPhones</span
      >
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >Graphic Card</span
      >
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0">RAM</span>
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0">SSD</span>
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >Monitor</span
      >
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >USB Drive</span
      >
    </a>
  </div>
  <div class="p-2 col-xl-2 col-lg-3 col-md-4 col-sm-6">
    <a href="#" class="d-block position-relative">
      <img
        ngSrc="../../assets/images/testproduct.jpg"
        class="card rounded-circle w-100 h-100"
        alt="..."
        width="300"
        height="200"
        priority
      />
      <span class="badge bg-primary position-absolute top-0 start-0"
        >Clothes</span
      >
    </a>
  </div>
</main>
