<div class="card">
  <!-- button  to product details  -->
  <a href="">
    <img
      src="../../assets/images/testproduct.jpg"
      class="card-img-top"
      alt="..."
      style="position: relative"
    />
    <p
      (click)="preventClick($event)"
      class="text-info bi-cursor-text text-decoration-none onsale bg-danger text-dark rounded p-1"
    >
      <!-- if onsale is false display none or we can display the discount percentage -->
      Sale!
    </p>
  </a>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <span class="text-decoration-line-through">100$</span>
    <div class="d-flex justify-content-between">

      <!-- add cart icon and wishlist icon  -->
    </div>
  </div>
</div>
