.onsale {
  position: absolute;
  top: 1%;
  left: 2%;
  cursor: default;
  /* display: none; */
}
.card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
.icon-border{
  border: 0.5px solid black;
  padding: .2188rem .5rem;
  border-radius: .640rem;
  cursor: pointer;
  transition: all 0.5e;
}
.icon-border:hover{
  transform: scale(1.2);
}
.cart-icon i{
  font-size: 15px;
}
.layer{
  background-color: rgba(0, 0,0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left:0 ;
  z-index: 999;

}
.main-div{
  /* transform: translate(0%,0%); */
  background-color: antiquewhite;
  height: 40rem;
  width: 80rem;

}
ul {
  list-style: none;
}
ul li,.x-mark {
  cursor: pointer;

}
ul li:hover{
  transform: scale(1.2);
}
.size ul li{
  border: 1px solid black ;
  padding: 5px 18px;
  border-radius: 15px;
}
.color-item{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.x-mark i{
  right: .9375rem;

}
