<app-top-bar></app-top-bar>
<app-header></app-header>

<!-- cart + summary -->
<div [ngClass]="{ 'dark-mood': this._themeservice.isDarkMood }">
  <section class="pt-4">
    <div class="container">
      <div class="row">
        <!-- cart -->
        <div class="col-lg-9">
          <div
            [ngClass]="{ 'dark-mood-item': this._themeservice.isDarkMood }"
            class="card border shadow-0"
          >
            <div class="m-4">
              <h4
                class="card-title mb-4"
                [ngClass]="{ 'dark-mood-text': this._themeservice.isDarkMood }"
              >
                Your shopping cart
              </h4>
              @for (item of _cartService.getItems(); track item.id) {
              <app-cart-item [item]="item"></app-cart-item>
              } @for (item of _cartService.getItems(); track item.id) {
              <app-cart-item [item]="item"></app-cart-item>
              }
            </div>

            <div
              class="border-top p-4 mx-4 mb-4"
              [ngClass]="{'dark-mood-mini':this._themeservice.isDarkMood,}"
              class="border-top pt-4 mx-4 mb-4"
              [ngClass]="{ 'dark-mood-mini': this._themeservice.isDarkMood }"
            >
              <p
                [ngClass]="{ 'dark-mood-icone': this._themeservice.isDarkMood }"
              >
                <i class="fas fa-truck fa-lg"></i> Free Delivery within 1-2
                weeks
              </p>
              <p
                [ngClass]="{ 'dark-mood-icone': this._themeservice.isDarkMood }"
              >
                FREE STANDARD SHIPPING Estimated to be delivered on 03/14/2024 -
                03/16/2024.
                <br />
                75.56% are ≤ 10 days
              </p>

              <div class="border-top pt-4 mx-4 mb-4">
                <!-- <p>
              <i class="fas fa-truck text-muted fa-lg"></i> Free Delivery within
              1-2 weeks
            </p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip
            </p> -->
              </div>
            </div>
          </div>
        </div>
        <!-- cart -->
        <!-- summary -->
        <div class="col-lg-3">
          <div
            class="card mb-3 border shadow-0"
            [ngClass]="{'dark-mood-mini':this._themeservice.isDarkMood,}"
            class="card mb-3 border shadow-0"
            [ngClass]="{ 'dark-mood-mini': this._themeservice.isDarkMood }"
          >
            >>>>>> d49c3b40b794222af23d32ae752c3d9428f27632 >
            <div class="card-body">
              <form>
                <div class="form-group">
                  <label class="form-label">Have coupon?</label>
                  <div class="input-group">
                    <input
                      type="text"
                      class="form-control border"
                      name=""
                      placeholder="Coupon code"
                    />
                    <button class="btn btn-light border">Apply</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card shadow-0 border">
            <div
              class="card-body"
              [ngClass]="{ 'dark-mood-mini': this._themeservice.isDarkMood }"
              [ngClass]="{ 'dark-mood-mini': this._themeservice.isDarkMood }"
            >
              <div class="d-flex justify-content-between">
                <p
                  class="mb-2"
                  [ngClass]="{
                    'dark-mood-text': this._themeservice.isDarkMood
                  }"
                >
                  Total price:
                </p>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">price:</p>
                  <p class="mb-2">$329.00</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Discount:</p>
                  <p class="mb-2 text-success">-$60.00</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="mb-2">TAX:</p>
                  <p class="mb-2">$14.00</p>
                </div>
                <hr />
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Total price:</p>
                  <p class="mb-2 fw-bold">${{ _cartService.getTotal() }}</p>
                  <p class="mb-2 fw-bold">${{ _cartService.getTotal() }}</p>
                </div>

                <div class="mt-3">
                  <a href="#" class="btn btn-warning w-100 shadow-0 mb-2">
                    Check out
                  </a>
                  <a
                    [routerLink]="'/deals'"
                    class="btn btn-light w-100 border mt-2"
                    [ngClass]="{
                      'btn-dark-mood': this._themeservice.isDarkMood
                    }"
                  >
                    <!-- Back to shop -->
                    Continue Shopping
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- summary -->
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
    <!-- </div> -->
  </section>
</div>
<!-- Recommended items -->
<app-recommended></app-recommended>

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer -->
