<app-top-bar></app-top-bar>
<app-header class="bg-white"></app-header>
<app-navbar></app-navbar>
<div class="help-header">
  <div class="container pb-8 pt-3">
    <h2 class="h4">Help Center</h2>
    <h3 class="h3 fw-bolder pb-5">Hi, how can we help you?</h3>
    <div class="help-center">

<section>
<div class="row ">

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="help-item d-flex  p-1 pt-5 fs-5 shadow-lg fw-bold justify-content-between cursor-pointer  mb-5 rounded-4 border-1">
    <p class="align-self-center pl-5"  [ngClass]="{'dark-text': this._themeservice.isDarkMood}">Place an Order</p>
    <img src="../../assets/images/how-to-place-order-d.png"  alt="">
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="help-item d-flex  p-1 pt-5 fs-5 shadow-lg fw-bold justify-content-between cursor-pointer mb-5 rounded-4 border-1">
    <p class="align-self-center pl-5" [ngClass]="{'dark-text': this._themeservice.isDarkMood}">Pay For Your Order</p>
    <img src="../../assets/images/how-to-pay-for-order-d.png"  alt="">
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6">

      <div class="help-item d-flex  p-1 pt-5 fs-5 shadow-lg fw-bold justify-content-between cursor-pointer mb-5 rounded-4 border-1">
        <p class="align-self-center pl-5" [ngClass]="{'dark-text': this._themeservice.isDarkMood}">Track Your Order</p>
        <img src="../../assets/images/how-to-track-order-d.png"  alt="">
      </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 m-auto">
  <div [ngClass]="{'dark-mood-mini': this._themeservice.isDarkMood}">

      <div class="help-item d-flex  p-1 pt-5 fs-5 shadow-lg fw-bold justify-content-center cursor-pointer mb-5 rounded-4 border-1" >
        <p class="align-self-center pl-5" [ngClass]="{'dark-text': this._themeservice.isDarkMood}">Cancel an Order</p>
        <img src="../../assets/images/how-to-cancel-order-d.png"  alt="">
      </div>
      </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 m-auto">

      <div class="help-item d-flex p-1 pt-5 fs-5 shadow-lg fw-bold justify-content-center cursor-pointer mb-5 rounded-4 border-1">
        <p class="align-self-center pl-5" [ngClass]="{'dark-text': this._themeservice.isDarkMood}">Create a Return</p>
        <img src="../../assets/images/how-to-request-return-d.png"  alt="">
      </div>
      </div>
</div>
</section>

<!-- <button r>click</button>
 -->
 <!-- </main> -->
</div>
<br>
<a routerLink="/payment"> click</a>
<div class="col-md-9">
  <<router-outlet></router-outlet>
</div>
<app-sidebar-help></app-sidebar-help>
</div>
<!-- <router-outlet></router-outlet> -->
</div>
