<app-top-bar></app-top-bar>
<app-header class="bg-white"></app-header>
<app-navbar></app-navbar>
<div class="container">
  <div class="row w-75 border-1 rounded-4 m-auto  my-5 " [ngClass]="{'dark-mood-mini': this._themeService.isDarkMood}">
  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 " >
  <div class="card h-100">
    <div class="card-body"  [ngClass]="{'dark-mood-mini': this._themeService.isDarkMood}">
      <div class="account-settings">
        <div class="user-profile">
          <div class="user-avatar">
            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
          </div>
          <h5 class="user-name fs-4">user name </h5>
          <h6 class="user-email fs-6">yyyynnnn.com</h6>
        </div>

      </div>
    </div>
  </div>
  </div>
  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
  <div class="card h-100">
    <div class="card-body" [ngClass]="{'dark-mood-mini': this._themeService.isDarkMood}">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 text-warning fs-4">Personal Details</h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" readonly placeholder="first name">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" readonly placeholder="last name">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="eMail">Email</label>
            <input type="email" class="form-control" id="eMail" placeholder="Enter email ID">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
          </div>
        </div>

      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mt-3 mb-2 text-warning fs-4">Address</h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="Street">Street</label>
            <input type="name" class="form-control" id="Street" placeholder="Enter Street">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="ciTy">City</label>
            <input type="name" class="form-control" id="ciTy" placeholder="Enter City">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="sTate">State</label>
            <input type="text" class="form-control" id="sTate" placeholder="Enter State">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="zIp">Zip Code</label>
            <input type="text" class="form-control" id="zIp" placeholder="Zip Code">
          </div>
        </div>
      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-right">
            <button type="button" id="submit" name="submit" routerLink="/user-profile" class="btn btn-secondary">Cancel</button>
            <button type="button" id="submit" name="submit" routerLink="/user-profile" class="btn btn-warning ml-2">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

<app-footer></app-footer>
