<app-header></app-header>

<!-- prev 130vh -->
<div [ngClass]="{'dark-mood-item':this._themeservice.isDarkMood}">
<section style="height: 75rem" class="form-section">

  <div class="container h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div [ngClass]="{'dark-mood-mini':this._themeservice.isDarkMood}" class="rounded-4">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-4 mx-1 mx-md-4 mt-0">
                  Sign up
                </p>
                <!-- register form  -->
                <form
                  class="mx-1 mx-md-4"
                  action=""
                  (ngSubmit)="submitregistration(registerform)"
                  [formGroup]="registerform"
                >
                  <!-- First name  -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-outline flex-fill mb-0 d-flex">
                      <div>
                        <label class="form-label me-2" for="form3Example1c"
                          >First Name</label
                        >
                        <input
                          type="text"
                          id="form3Example1c"
                          class="form-control me-2"
                          name="first_name"
                          id="first_name"
                          formControlName="first_name"
                        />
                        <div
                          *ngIf="
                            registerform.get('first_name')?.errors &&
                            registerform.get('first_name')?.touched
                          "
                          class="alert text-danger m-0 p-0"
                        >
                          <p
                            class=""
                            *ngIf="
                              registerform
                                .get('first_name')
                                ?.getError('required')
                            "
                          >
                            First name is required
                          </p>
                          <p
                            class=""
                            *ngIf="
                              registerform
                                .get('first_name')
                                ?.getError('minlength')
                            "
                          >
                            Minimum length is 4
                          </p>
                          <p
                            class=""
                            *ngIf="
                              registerform
                                .get('first_name')
                                ?.getError('maxlength')
                            "
                          >
                            Maximum length is 15
                          </p>
                        </div>
                      </div>
                    </div>
                    <!-- Last name  -->
                    <div>
                      <label
                        class="form-label ms-2"
                        for="form3Example1c last_name"
                        >Last Name</label
                      >
                      <input
                        type="text"
                        id="form3Example1c"
                        class="form-control ms-2"
                        name="last_name"
                        id="last_name"
                        formControlName="last_name"
                      />
                      <div
                        *ngIf="
                          registerform.get('last_name')?.errors &&
                          registerform.get('last_name')?.touched
                        "
                        class="alert text-danger m-0 p-0 ms-2"
                      >
                        <p
                          class=""
                          *ngIf="
                            registerform.get('last_name')?.getError('required')
                          "
                        >
                          Last name is required
                        </p>
                        <p
                          class=""
                          *ngIf="
                            registerform.get('last_name')?.getError('minlength')
                          "
                        >
                          Minimum length is 4
                        </p>
                        <p
                          class=""
                          *ngIf="
                            registerform.get('last_name')?.getError('maxlength')
                          "
                        >
                          Maximum length is 15
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- email input  -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="form3Example3c"
                        >Email address</label
                      >
                      <input
                        type="email"
                        id="form3Example3c"
                        class="form-control"
                        formControlName="email"
                        name="email"
                        id="email"
                      />
                      <div
                        *ngIf="
                          registerform.get('email')?.errors &&
                          registerform.get('email')?.touched
                        "
                        class="alert text-danger m-0 p-0"
                      >
                        <p
                          class="m-0"
                          *ngIf="
                            registerform.get('email')?.getError('required')
                          "
                        >
                          Email is required
                        </p>
                        <p
                          class="m-0"
                          *ngIf="registerform.get('email')?.getError('email')"
                        >
                          Email is not valid
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- password  -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="password">Password</label>
                      <input
                        type="password"
                        class="form-control"
                        formControlName="password"
                        name="password"
                        id="password"
                      />
                      <div
                        *ngIf="
                          registerform.get('password')?.errors &&
                          registerform.get('password')?.touched
                        "
                        class="alert text-danger m-0 p-0"
                      >
                        <p
                          class=""
                          *ngIf="
                            registerform.get('password')?.getError('required')
                          "
                        >
                          Password is required
                        </p>
                        <p
                          class=""
                          *ngIf="
                            registerform.get('password')?.getError('minlength')
                          "
                        >
                          Minimum length is 8
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- confirm password  -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw mt-4"></i>
                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="confirmPassword"
                        >Confirm your password</label
                      >
                      <input
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        formControlName="confirmPassword"
                        class="form-control"
                      />
                      <div
                        *ngIf="
                          registerform.get('confirmPassword')?.errors &&
                          registerform.get('confirmPassword')?.touched
                        "
                        class="alert text-danger m-0 p-0"
                      >
                        <p
                          class=""
                          *ngIf="
                            registerform
                              .get('confirmPassword')
                              ?.getError('required')
                          "
                        >
                          Password is required
                        </p>
                        <p
                          class=""
                          *ngIf="
                            registerform
                              .get('confirmPassword')
                              ?.getError('minlength')
                          "
                        >
                          Minimum length is 8
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- phone number  -->
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-solid fa-phone fa-lg me-3 fa-fw mt-4"></i>

                    <div class="form-outline flex-fill mb-0">
                      <label class="form-label" for="phoneNumber"
                        >Phone number</label
                      >
                      <input
                        type="tel"
                        id="phoneNumber"
                        name="phoneNumber"
                        formControlName="phoneNumber"
                        class="form-control"
                      />
                      <div
                        *ngIf="
                          registerform.get('phoneNumber')?.errors &&
                          registerform.get('phoneNumber')?.touched
                        "
                        class="alert text-danger m-0 p-0"
                      >
                        <p
                          class=""
                          *ngIf="
                            registerform
                              .get('phoneNumber')
                              ?.getError('required')
                          "
                        >
                          Phone number is required
                        </p>
                        <p
                          class=""
                          *ngIf="
                            registerform.get('phoneNumber')?.getError('pattern')
                          "
                        >
                          Invalid phone number
                        </p>
                      </div>
                    </div>
                  </div>
                  <!-- <div>
                    <label for="birthday">Birthday:</label>
                    <input type="date" id="birthday" name="birthday" />
                  </div> -->
                  <div class="ms-4 ps-3 py-3">
                    <span class="p-float-label">
                      <p-calendar
                        inputId="birthDate"
                        id="birthDate"
                        name="birthDate"
                        formControlName="birthDate"
                      ></p-calendar>
                      <label for="birthDate">Birth Date</label>
                    </span>
                    <div
                      *ngIf="
                        registerform.get('birthDate')?.errors &&
                        registerform.get('birthDate')?.touched
                      "
                      class="alert text-danger m-0 p-0"
                    >
                      <p
                        class=""
                        *ngIf="
                          registerform.get('birthDate')?.getError('birthDate')
                        "
                      >
                        Please select your birthday
                      </p>
                    </div>
                  </div>
                  <!-- terms of service check -->
                  <div
                    class="form-check d-flex justify-content-center mb-5 flex-column"
                  >
                    <div>
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="termsCheckbox"
                        name="termsCheckbox"
                        formControlName="termsCheckbox"
                      />
                      <label class="form-check-label" for="termsCheckbox">
                        I accept and agree to the
                        <a routerLink="/termsofservice">Terms of Use.</a>
                      </label>
                    </div>

                    <!-- validation on the check box will do later  -->
                    <!-- <div
                      *ngIf="registerform.get('termsCheckbox')?.errors"
                      class="alert text-danger m-0 p-0"
                    >
                      <p
                        class=""
                        *ngIf="
                          registerform
                            .get('termsCheckbox')
                            ?.getError('requiredTrue')
                        "
                      >
                        Please check this box if u want to proceed
                      </p>
                    </div> -->
                  </div>

                  <div
                    class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 gap-3 buttons"
                  >
                    <button
                      class="btn btn-warning btn-lg"
                      [disabled]="registerform.invalid"
                      type="submit"
                    >
                      <span *ngIf="!is_loading">Register</span>
                      <i *ngIf="is_loading" class="fas fa-spinner fa-spin"></i>
                      <!-- will check later when we get api  -->
                      <!-- <span *ngIf="!is_loading">Register</span> -->
                      <!-- <i *ngIf="is_loading" class="fa-solid fa-spinner"></i> -->
                    </button>
                    <button class="btn btn-primary btn-lg" type="submit">
                      Facebook
                      <!-- will check later when we get api  -->
                      <!-- <span *ngIf="!is_loading">Register</span> -->
                      <!-- <i *ngIf="is_loading" class="fa-solid fa-spinner"></i> -->
                    </button>
                    <button
                      class="btn btn-lg btn-danger"
                      type="submit"
                      style="color: white"
                    >
                      Gmail
                      <!-- will check later when we get api  -->
                      <!-- <span *ngIf="!is_loading">Register</span> -->
                      <!-- <i *ngIf="is_loading" class="fa-solid fa-spinner"></i> -->
                    </button>
                  </div>
                </form>
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2 flex-column justify-content-center"
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid"
                  alt="Register form"
                />
                <div>
                  <p>
                    Already have an account?
                    <a routerLink="/login" class="text-danger"> Login</a>
                  </p>
                </div>
                <div>
                  <p>
                    Register as a vendor from
                    <a routerLink="/VendorRegister" class="text-danger">
                      Here</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
</div>
<app-footer></app-footer>
