<div class="navbar navbar-expand" id="top-bar">
  <div class="container text-secondary" id="top-bar-container">
    <span class="brand p-0">Welcome to Our Online Shopping Store!</span>
    <nav id="topBar-nav">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
        <li class="nav-item">
          <a class="nav-link ps-5 p-0" href="#"> Customer Care </a>
        </li>
        <li class="nav-item">
          <a class="nav-link ps-5 p-0" href="#"> Track Order </a>
        </li>
        <li class="nav-item ps-5 p-0">
          <a class="nav-link p-0" href="#"> Help </a>
        </li>
        <li class="nav-item dropdown ps-5">
          <a
            class="nav-link p-0"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Language
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Arabic</a></li>
          </ul>
        </li>
        <!-- for dark mode toggle later -->
        <!-- <li class="nav-item ps-4 p-0"><button class="nav-link p-0" (click)="modetoggle()">a</button></li> -->
      </ul>
    </nav>
  </div>
</div>
