<!-- <div
  class="navbar navbar-expand py-0"
  id="top-bar"
  [style]="toggleTheme == true ? lightMode : darkMode"
>
  <div class="container text-secondary" id="top-bar-container">
    <span class="brand p-0">Welcome to Our Online Shopping Store!</span>
    <nav id="topBar-nav">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
        <li class="nav-item ms-5">
          <a class="nav-link ps-5 p-0" routerLink="/contactus"> Contact us </a>
        </li>
        <li class="nav-item ms-5">
          <a class="nav-link ps-5 p-0" routerLink="/trackorder">
            Track Order
          </a>
        </li>
        <li class="nav-item ps-5 p-0 ms-5">
          <a class="nav-link p-0"> Help </a>
        </li>
        <li class="nav-item dropdown ps-5">
          <a
            class="nav-link p-0"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Language
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Arabic</a></li>
          </ul>
        </li>
        <li class="ps-3">
          <i
            class="fa-solid fa-circle-half-stroke"
            (click)="changeToggleTheme()"
          ></i>
        </li>
      </ul>
    </nav>
  </div> 
</div> -->

<div class="d-flex justify-content-center" style="background-color: #633185">
  <a routerLink="/deals">
    <img
      src="../../assets/images/topbar image.png"
      alt="Ramadan Kareem"
      class="img-fluid"
    />
  </a>
</div>
